create or replace function delete_ingredient_cascade(p_ingredient_id uuid) returns void language plpgsql security definer as delete_ingredient_function.sql begin delete from stock_movements where item_id = p_ingredient_id and item_type = 'ingredient'; delete from stock_entries where ingredient_id = p_ingredient_id; delete from ingredients where id = p_ingredient_id; end; delete_ingredient_function.sql;
